body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
    width: 100%;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.login-register a {
    color: white;
    margin-left: 10px;
    text-align: center;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; /* Make the hero section full height */
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    position: relative;
    overflow: hidden;
}

h2{
    margin-top: 30px;
    padding: 10px;
    font-weight: bold;
}

.title{
    font-weight: bold;
}

button{
    margin-bottom: 60px;
    padding: 25px;
    margin-top: 40px
}

.carousel-inner img { 
    width: 100%;
    height: auto;
}

.hero h1 {
    font-size: 48px;
    margin: 20px 0 10px 0;
    position: relative;
    z-index: 1;
}

.hero p {
    font-size: 24px;
    margin: 10px 0 20px 0;
    position: relative;
    z-index: 1;
}

.features, .about, .testimonials {
    padding: 50px;
    text-align: center;
}

.feature-item, .testimonial-item {
    margin: 20px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer a {
    color: white;
    margin: 0 10px;
}

@media (max-width: 768px) {
    nav {
        display: none;
        flex-direction: column;
    }
    .hamburger-menu {
        display: flex;
    }

    .carousel-inner img { 
        width: 90%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .nav-links.open {
        display: flex;
    }

    
}
